
<div class="modal fade text-left mt-300" id="default" role="dialog" aria-labelledby="myModalLabel2" style="display: none;" aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel1"><i class="ft-filter"></i>&nbsp;&nbsp;Senha de Pagamento</h4>
                <button type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <%#= form_with(url: "/search", method: "get") do %>
                <%#= label_tag(:q, "Search for:") %>
                <%#= text_field_tag(:q) %>
                <%#= submit_tag("Search") %>
            <%# end %>
            <%= form_with(url: "/verify_payment_password", method: "get") do %>
                <div class="modal-body">
                    <div class="form-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <div class="form-group">
                                    <label for="issueinput3">CPF</label>
                                    <%= text_field_tag 'cpf', nil, placeholder: '', value: "#{(params[:cpf])}", class: "form-control cpf" %>
                                </div>
                            </div>    
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group">
                                <label for="issueinput4">Senha</label>
                                <%= password_field_tag 'payment_password', nil, placeholder: '', value: "#{(params[:payment_password])}", class: "form-control" %>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <%= submit_tag('Finalizar Aluguel', class: 'js-submit form-submit green button button-continue btn btn-success', style:"margin: 0 7% !important; width: 200px !important;") %>
                    <%#= submit_tag("Search") %>
                    <!--<button type="submit" class="btn grey btn-outline-secondary" data-dismiss="modal"><i class="fa fa-times"></i>&nbsp;&nbsp;Enviar</button>-->
                </div>
            <% end %>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(window).on('load',function(){
        $('#default').modal('show');
    });
</script>