---
http_interactions:
- request:
    method: get
    uri: https://df.uol.com.br/df-fe/mvc/creditcard/v1/getBin?creditCard=411111&tk=2db5c1bc44644fd8b3ca9bbf8ae7e564
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"bin":{"length":null,"country":{"name":"Brazil","id":76,"isoCode":"BR","isoCodeThreeDigits":"BRA"},"brand":{"name":"visa"},"cvvSize":3,"expirable":"n","validationAlgorithm":"LUHN","bank":null,"cardLevel":null,"bin":411111,"statusMessage":"Success","reasonMessage":null}}'
  recorded_at: Thu, 11 Feb 2021 11:51:48 GMT
recorded_with: VCR 6.0.0
