---
http_interactions:
- request:
    method: get
    uri: https://df.uol.com.br/df-fe/mvc/creditcard/v1/getBin?creditCard=411111&tk=bd715027ce3b4ac68de2c6e731fe6278
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"bin":{"length":null,"country":{"name":"Brazil","id":76,"isoCode":"BR","isoCodeThreeDigits":"BRA"},"bin":411111,"brand":{"name":"visa"},"cardLevel":null,"cvvSize":3,"expirable":"n","validationAlgorithm":"LUHN","bank":null,"statusMessage":"Success","reasonMessage":null}}'
  recorded_at: Wed, 10 Feb 2021 18:57:55 GMT
recorded_with: VCR 6.0.0
