---
http_interactions:
- request:
    method: get
    uri: https://sandbox.pagseguro.uol.com.br/checkout/v2/installments.json?amount=10.00&creditCardBrand=visa&sessionId=bd715027ce3b4ac68de2c6e731fe6278
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=ISO-8859-1
      Ec-Rule-Version:
      - 20210119-01
    body:
      encoding: UTF-8
      string: '{"error":false,"installments":{"visa":[{"quantity":1,"installmentAmount":10.00,"totalAmount":10.00,"interestFree":true},{"quantity":2,"installmentAmount":5.23,"totalAmount":10.45,"interestFree":false}]}}'
  recorded_at: Wed, 10 Feb 2021 18:58:10 GMT
recorded_with: VCR 6.0.0
