---
http_interactions:
- request:
    method: post
    uri: https://ws.sandbox.pagseguro.uol.com.br/sessions?appId=<you_app_id>&appKey=<you_app_key>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.pagseguro.com.br.v3+xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><session><id>2db5c1bc44644fd8b3ca9bbf8ae7e564</id></session>
  recorded_at: Thu, 11 Feb 2021 11:51:42 GMT
recorded_with: VCR 6.0.0
